/**
 * @file
 * Styles for jsonapi_example module.
 */

.jsonapi-example-help-zone summary > *,
.jsonapi-example-settings-zone summary > * {
  display: inline-block;
  margin-top: 0;
}

.jsonapi-example-settings-zone .form-item-http-password .description {
  font-weight: bolder;
  color: red;
}
