<p>The path of the main page is '/jsonapi'.<br />
First, You have to configure permissions.</p>
<p>You MUST confire settings in next section</p>


<h1>Headers</h1>
<p>To send JSON</p>
<pre>Content-type: application/vnd.api+json</pre>
<p>To declare JSON reception preference </p>
<pre>Accept: application/vnd.api+json</pre>
<h1>Get authentification token</h1>
<pre>/oauth/token</pre>
<p>Put in headers: 'Accept': 'application/vnd.api+json'</p>
<p>Request in POST mode with in headers: username, password, grant_type ('client_credentials'), client_id, client_secret</p>
<p>JSON response body will contain token type, access token and refresh token</p>
<p>This example module will not use 'refresh token'</p>
<h1>Requests used</h1>
<p>All forms buttons are accompanied with the request example </p>
<h1>Details</h1>
<p>RequestFactory.php forge request, executed in UsageJsonApiTrait, these 2 files contain everything you need.</p>
